/* Version selector styling for sphinx-multiversion */

.rst-versions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    color: #fcfcfc;
    background: #1f1d1d;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    z-index: 400;
}

.rst-versions .rst-current-version {
    padding: 12px;
    background-color: #272525;
    display: block;
    text-align: right;
    font-size: 90%;
    cursor: pointer;
    color: #27ae60;
}

.rst-versions .rst-current-version .fa {
    color: #fcfcfc;
}

.rst-versions .rst-current-version .fa-book {
    float: left;
}

.rst-versions .rst-other-versions {
    font-size: 90%;
    padding: 12px;
    color: #fcfcfc;
    display: none;
}

.rst-versions.shift-up .rst-other-versions {
    display: block;
}

.rst-versions .rst-other-versions dl {
    margin-bottom: 0;
}

.rst-versions .rst-other-versions dt {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.rst-versions .rst-other-versions dd {
    display: inline-block;
    margin: 0;
}

.rst-versions .rst-other-versions dd a {
    display: inline-block;
    padding: 6px;
    color: #fcfcfc;
}

.rst-versions .rst-other-versions dd a:hover {
    background-color: #272525;
    text-decoration: none;
}

.rst-versions .rst-other-versions .rtd-current-item {
    font-weight: bold;
}

.rst-versions .rst-other-versions .rtd-current-item a {
    color: #27ae60;
}

/* Make version selector responsive */
@media screen and (max-width: 768px) {
    .rst-versions {
        width: 85%;
    }
}
