name: Build and Run example

on:
    push:
    pull_request:

jobs:
  build-test-example:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install PlatformIO
        run: |
          pip install platformio
      - name: Run PlatformIO
        run: |
          cd example
          pio run
          pio test -e native_unittest
